<div class="main">
  
<div class="logo">logo</div>
<% if admin_signed_in? %>

  <li> <%= link_to  "Abou", root_path %></li>
  <li> <%= link_to  "Bookers", root_path %></li>
  <li> <%= link_to  "Bookers", root_path %></li>
  <li> <%= link_to  "Bookers", root_path %></li>

</div>