@use '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hedear{
  display: flex;
  height: 80px;
}

.main {
  margin: 0 auto;
}

.soft {
  margin-bottom: 15px;
}

.container {
  max-width: 1300px;
}

.bg-secondary-subtle {
  background-color: #f5f5f5;
  width: 500px;
  margin-right: 10%;
}

.pad{
  padding-top: 10%;
  padding-left: 5%;
}
.img-container {
  object-fit: cover;
}


.-b{
  text-align: right;
}
.col-md-1{
  text-align: right;
  padding: 0%;
}
.container .col-3 {
  background-color: #dcdcdc;
  text-align: center;
  width: 500px;
}
.container .-c{
  background-color: #dcdcdc;
  text-align: center;
}

.-w{
  width: 80%;
}
.-wa{
  width: 40%;
}

select {
  width:  75%;
}

.-he{
  height: 600px;
  padding-top: 10%;
}

.actions {
  padding-left: 15px;
}

.-pt {
  padding-top: 26%;
}