


<div class="dropdown-menu d-block position-static mx-0 rounded-3 shadow overflow-hidden w-280px" data-bs-theme="light">
  
    <form class="p-3 mb-2 bg-body-tertiary border-bottom">
      <h4>ジャンル検索</h4>
    </form>
    
    <% @genres.each do |genre| %>
    
    <ul class="list-unstyled mx-0 ">
     
        
        

    <li class="pl-5"> <%= link_to genre.name, items_path(genre_name: genre.name) %></li>

    
        
     
      
    </ul>
    <% end %>
  </div>